[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
langchain-groq = "*"
sentence-transformers = "*"
pypdf = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.9"
